# This is a basic workflow to help you get started with Actions

name: Jfrog CI

# Controls when the workflow will run
on:
  push:
    branches:
      - main # lub inna główna gałąź

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up JFrog CLI
      uses: jfrog/setup-jfrog-cli@v2
      with:
        jfrog-cli-version: '2.2.2'  # Możesz dostosować wersję

    - name: Build and Upload
      run: |
        # Twój kod budowania (np. kompilacja, testy)
        
        # Przykładowe polecenie do wysłania plików do Artifactory
        jfrog rt u --url="https://matiibal.jfrog.io/artifactory/TEST1/" --user="mbal" --password="Qazwsx123" \
          --build-name="$GITHUB_REPOSITORY" --build-number="$GITHUB_RUN_NUMBER" \
          ./artefakty/ artifactoryGit/
